section.production-laboratories
  .container
    .section.section__inner.production-laboratories__inner
      .swiper.production-laboratories__logos
        .swiper-wrapper
          .swiper-slide
            img(src="./wp-content/themes/stirolbiopharm/assets/img/beckman.jpg" width="714" height="571" alt="Логотип лаборатории Beckman Colter")
          .swiper-slide
            img(src="./wp-content/themes/stirolbiopharm/assets/img/poster.jpg" width="714" height="571" alt="Логотип лаборатории Beckman Colter")
          .swiper-slide
            img(src="./wp-content/themes/stirolbiopharm/assets/img/pills.jpg" width="714" height="571" alt="Логотип лаборатории Beckman Colter")
        .swiper-pagination
      .production-laboratories__text
        p Четыре лаборатории по контролю качества фирмы “Стиролбиофарм” 
          i оснащены самым современным 
          | аналитическим оборудованием ведущих мировых производителей. 
        p Производство “Стиролбиофарм” полностью отвечает концепциям обеспечения качества фармацевтической продукции 
          | согласно требованиям 
          i GMP 
          | и международного стандарта 
          i ISO 9002
          | .
        a(href="certification.html").btn.btn--animate Подробнее