nav.nav
  ul(role="menu").menu
    li(role="menuitem").menu-item 
      a(href="index.html") Главная
    li(role="menuitem").menu-item
      a(href="production-main.html") Производство
      ul.sub-menu
        li
          a(href="production-structure.html") Структура производства
        li
          a(href="production-process.html") Процесс производства
        li
          a(href="quality-control.html") Контроль качества
        li
          a(href="certification.html") Сертификация
    li(role="menuitem").menu-item
       a(href="#!") Продукция
       ul.sub-menu
        li
          a(href="medicine.html") Лекарственные препараты
        li
          a(href="bads.html") БАДы
    li(role="menuitem").menu-item
      a(href="about.html") О компании
    li(role="menuitem").menu-item
      a(href="contacts.html") Контакты
  include ../../bem-blocks/socials-mobile/socials-mobile.pug
  include ../../bem-blocks/phone-mobile/phone-mobile.pug