div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject").logo
  a(href="index.html" rel="home" itemprop="url image")
    img(src="./wp-content/themes/stirolbiopharm/assets/img/icons/logo.svg" width="246" height="85" alt="Логотип СтиролБиоФарм" itemprop="url image")
    