.breadcrumbs
  ul(itemscope itemtype="http://schema.org/BreadcrumbList").breadcrumbs__links
    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem") 
      a(itemprop="item" href="index.html")
        span(itemprop="name") Главная
      meta(itemprop="position" content="1")
    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
      a(itemprop="item")
        span(itemprop="name") Каталог лекарственных препаратов
      meta(itemprop="position" content="2")