main 
  section.about-page.section.section--honeycombs-right
    .container 
      div.breadcrumbs
        ul.breadcrumbs__links
          li
            a(href="index.html")
              span Главная
          li
            a
              span О компании
      h1 О компании
      .about-page__inner 
        .about-page__text
          p Завод по производству твердых лекарственных форм «Фармация» введен в эксплуатацию 
            i 09.10.1996 г, 
            | как структурное подразделение ОАО «Концерн Стирол».
          p Завод построен по проекту Института фармацевтических технологий г. Торонто, Канада, который 
            | соответствовал Канадским (HPB) и Американским (FDA) Правилам Надлежащей производственной практики (GMP).
          p Завод введен в эксплуатацию с ассортиментом препаратов 
            i 4-х наименований: 
            | Витамин С 500 мг апельсиновый, таблетки; Кислота ацетилсалициловая 325 мг, 
            | таблетки, Парацетамол 325 мг, таблетки; Парацетамол 325 мг, капсулы и проектной мощностью 5 миллиардов 
            | таблеток и капсул в год.
        .about-page__video
          .play
          video(poster="./wp-content/themes/stirolbiopharm/assets/img/poster.jpg")
  section.about-page__history
    .container
      .about-page__history-inner
        h2 Вехи развития предприятия:
        .about-page__years 
          span.year.year--active 1998
          span.year 2001
          span.year 2009
          span.year 2013
          span.year 2014
        .about-page__history-texts
          .about-page__history-text.about-page__history-text--display.about-page__history-text--opacity
            p 
              i Май 1998г: 
              | Открыт участок по производству жидких стерильных лекарственных средств. Проект участка по 
              | производству жидких стерильных лекарственных средств осуществлен американской компанией 
              | «International Trade Clab, inc.» (Базовый инжиниринг фирмы «Cambridge Pharmaceuticals»). 
              | Проектная мощность производства инъекционных препаратов и глазных капель в полимерной упаковке 
              | позволяет выпускать 20 млн. доз в год. Участок получил Свидетельство международных инспекторов 
              | из Германии (Donmed GmbH) о соответствии правилам для производства медикаментов и обеспечения их 
              | качества Европейского Союза, Международной Организации Здравоохранения и Конвенции фармацевтической 
              | инспекции II 23.2-18102-UA-1 от 05.05.2002
            p 
              i Ноябрь 1998 г: 
              | Построена и введена в эксплуатацию Экспериментально - биологическая клиника (виварий). Клиника 
              | предназначена для контроля качества продукции ЖСЛС на пирогенность и аномальную токсичность, 
              | проведения доклинических испытаний лекарственных препаратов.
          .about-page__history-text
            p 
              i Май 2001 г: 
              | Открыт участок по производству жидких стерильных лекарственных средств. Проект участка по 
              | производству жидких стерильных лекарственных средств осуществлен американской компанией 
              | «International Trade Clab, inc.» (Базовый инжиниринг фирмы «Cambridge Pharmaceuticals»). 
              | Проектная мощность производства инъекционных препаратов и глазных капель в полимерной упаковке 
              | позволяет выпускать 20 млн. доз в год. Участок получил Свидетельство международных инспекторов 
              | из Германии (Donmed GmbH) о соответствии правилам для производства медикаментов и обеспечения их 
              | качества Европейского Союза, Международной Организации Здравоохранения и Конвенции фармацевтической 
              | инспекции II 23.2-18102-UA-1 от 05.05.2002
            p 
              i Ноябрь 2001 г: 
              | Построена и введена в эксплуатацию Экспериментально - биологическая клиника (виварий). Клиника 
              | предназначена для контроля качества продукции ЖСЛС на пирогенность и аномальную токсичность, 
              | проведения доклинических испытаний лекарственных препаратов.
          .about-page__history-text
            p 
              i Май 2009 г: 
              | Открыт участок по производству жидких стерильных лекарственных средств. Проект участка по 
              | производству жидких стерильных лекарственных средств осуществлен американской компанией 
              | «International Trade Clab, inc.» (Базовый инжиниринг фирмы «Cambridge Pharmaceuticals»). 
              | Проектная мощность производства инъекционных препаратов и глазных капель в полимерной упаковке 
              | позволяет выпускать 20 млн. доз в год. Участок получил Свидетельство международных инспекторов 
              | из Германии (Donmed GmbH) о соответствии правилам для производства медикаментов и обеспечения их 
              | качества Европейского Союза, Международной Организации Здравоохранения и Конвенции фармацевтической 
              | инспекции II 23.2-18102-UA-1 от 05.05.2002
            p 
              i Ноябрь 2009 г: 
              | Построена и введена в эксплуатацию Экспериментально - биологическая клиника (виварий). Клиника 
              | предназначена для контроля качества продукции ЖСЛС на пирогенность и аномальную токсичность, 
              | проведения доклинических испытаний лекарственных препаратов.
          .about-page__history-text
            p 
              i Май 2013 г: 
              | Открыт участок по производству жидких стерильных лекарственных средств. Проект участка по 
              | производству жидких стерильных лекарственных средств осуществлен американской компанией 
              | «International Trade Clab, inc.» (Базовый инжиниринг фирмы «Cambridge Pharmaceuticals»). 
              | Проектная мощность производства инъекционных препаратов и глазных капель в полимерной упаковке 
              | позволяет выпускать 20 млн. доз в год. Участок получил Свидетельство международных инспекторов 
              | из Германии (Donmed GmbH) о соответствии правилам для производства медикаментов и обеспечения их 
              | качества Европейского Союза, Международной Организации Здравоохранения и Конвенции фармацевтической 
              | инспекции II 23.2-18102-UA-1 от 05.05.2002
            p 
              i Ноябрь 2013 г: 
              | Построена и введена в эксплуатацию Экспериментально - биологическая клиника (виварий). Клиника 
              | предназначена для контроля качества продукции ЖСЛС на пирогенность и аномальную токсичность, 
              | проведения доклинических испытаний лекарственных препаратов.
          .about-page__history-text
            p 
              i Май 2014 г: 
              | Открыт участок по производству жидких стерильных лекарственных средств. Проект участка по 
              | производству жидких стерильных лекарственных средств осуществлен американской компанией 
              | «International Trade Clab, inc.» (Базовый инжиниринг фирмы «Cambridge Pharmaceuticals»). 
              | Проектная мощность производства инъекционных препаратов и глазных капель в полимерной упаковке 
              | позволяет выпускать 20 млн. доз в год. Участок получил Свидетельство международных инспекторов 
              | из Германии (Donmed GmbH) о соответствии правилам для производства медикаментов и обеспечения их 
              | качества Европейского Союза, Международной Организации Здравоохранения и Конвенции фармацевтической 
              | инспекции II 23.2-18102-UA-1 от 05.05.2002
            p 
              i Ноябрь 2014 г: 
              | Построена и введена в эксплуатацию Экспериментально - биологическая клиника (виварий). Клиника 
              | предназначена для контроля качества продукции ЖСЛС на пирогенность и аномальную токсичность, 
              | проведения доклинических испытаний лекарственных препаратов.
        .about-page__gallery 
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
  section.about-page__bottom.section.section--honeycombs-left
    .container
      .section__inner.about-page__inner 
        .about-page__text-bottom
          p География сбыта продукции ООО «Стиролбиофарм» охватывает не только всех основных дистрибьюторов 
            | Республики, но полноценное присутствие в каждой розничной аптечной точке. Налажены регулярные поставки 
            | нашей продукции потребителям Луганской Народной Республики, как через структуры Минздрава, так и через 
            | коммерческие сети.
          p В планах предприятия совместно с аптеками Республики создания уголка отечественного фармпроизводителя. 
            | В целом, коллектив ООО «Стиролбиофарм» уверено смотрит в будущее и приложит все усилия для процветания 
            | предприятия.
          p Стиролбиофарм будет и в дальнейшем работать для обеспечения, в первую очередь, потребностей 
            | отечественного здравоохранения. Это– основная задача нашего предприятия.
        .about-page__img-bottom
            img(src="./wp-content/themes/stirolbiopharm/assets/img/about-history.jpg" width="576" height="569" alt="Таблетки")