section.certification.section.section--honeycombs-right
  .container
    .breadcrumbs
      ul.breadcrumbs__links
        li
          a(href="index.html")
            span Главная
        li
          a(href="production-main.html")
            span Производство
        li
          a
            span Сертификация
    h1 Сертификация
    .certification__subtitle 
      p Производство компаниии ООО “Стиролбиофарм” отвечает концепциям обеспечения качества 
        | фармацевтической продукции согласно требованиям 
        i GMP 
        | и международного стандарта 
        i ISO 9002.
    .certification__text
      p Производство компаниии ООО “Стиролбиофарм” отвечает концепциям обеспечения качества фармацевтической 
        | продукциисогласно требованиям GMP и международного стандарта ISO 9002.
      p Компания «Стиролбиофарм» получила Сертификат на предмет соответствия производства Надлежащей Производственной 
        | Практике (GMP) и Контролю Качества согласно требованиям Всемирной организации здравоохранения и Европейского 
        | экономического сообщества в августе 1998г. Сертификат №11287/38/98.
      p Производство медицинской закиси азота сертифицировано Венгерским Национальным Институтом Фармации в соответствии 
        | с международными стандартами качества GMP (Good Manufacturing Practice) в декабре 2000г.
      p Участок по производству жидких стерильных лекарственных средств получил Свидетельство международных инспекторов из 
        | Германии (Donmed GmbH) о соответствии правилам для производства медикаментов и обеспечения их качества Европейского 
        | Союза, Международной Организации Здравоохранения и Конвенции фармацевтической инспекции II 23.2-18102-UA-1 
        | от 05.05.2002
      p Май 2009 г – Предприятие сертифицировано Государственным Агентством лекарств Латвийской Республики на соответствие 
       | нормам GMP Европейского союза. Сертификат GMP № ZVA/LV/2009/008H от 06.05.2009.
      p Февраль 2011 г – Предприятие сертифицировано Государственным Агентством лекарств Латвийской Республики на 
        | соответствие нормам GMP Европейского союза. Сертификат GMP № ZVA/LV/2011/003H от 03.02.2011.
section.certification-blocks.section.section--honeycombs-right.section--honeycombs-left
  .container
    .certification__block 
      .certification__block-text 
        p 
          i ISO 9000 
          | – это пакет международных стандартов, принятых Международной организацией по стандартизации 
          | (International Standards Organization) в марте 1987г, более чем в 90 странах мира они приняты в качестве 
          | национальных стандартов.
        p Группа стандартов 
          i ISO 9002 
          | (Системы качества) – набор стандартов для обеспечения качества при производстве, монтаже и обслуживании. 
          | Жесткие требования к качеству по международным стандартам ISO используются для сертификации изделий, 
          | предназначенных для экспорта в другие страны и реализации на мировом рынке.
      .certification__block-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/iso.png" width="305" height="305" alt="Стандарт ISO 9000")
    .certification__block 
      .certification__block-text 
        p Стандарт 
          i GMP 
          | (Good Manufacturing Practice - Надлежащая производственная практика) — система норм, правил и указаний в 
          | отношении производства: лекарственных средств, медицинских устройств, изделий диагностического назначения, 
          | продуктов питания, пищевых добавок, активных ингредиентов.
        p В отличие от процедуры контроля качества путём исследования выборочных образцов таких продуктов, 
          | которая обеспечивает пригодность к использованию лишь самих этих образцов (и, возможно, партий, изготовленных 
          | в ближайшее к данной партии время), 
          i стандарт GMP 
          | отражает целостный подход и регулирует и оценивает собственно параметры производства и лабораторной проверки.
      .certification__block-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/gmp.png" width="305" height="305" alt="Стандарт GMP")