section.contacts
  .container 
    h2 Контакты
    .contacts__map
      #map
      .contacts__block
        ul
          li 
            span ДНР, 
            span г. Горловка, 
            span ул. Горловской дивизии, 97 
          li 
            a(href="mailto:stirolbiopharm@mail.ru") stirolbiopharm@mail.ru
          li
            a(href="tel=88000000000") 8 (800) 000-00-00 
            span (с 9:00 до 20:00)