section.achievements
  .container 
    h2 Наши достижения
    .achievements__inner
      .swiper-wrap
        .swiper.achievements__slider
          .swiper-wrapper
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
            .swiper-slide
              img(src="./wp-content/themes/stirolbiopharm/assets/img/achievement-1.jpg" width="264" height="393" alt="Благодарственная граммота")
        .swiper-button-prev(rel="prev")
          svg(aria-hidden="true")
            use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#arrow")
        .swiper-button-next(rel="next")
          svg(aria-hidden="true")
            use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#arrow")