footer.footer
  .container
    .footer__inner
      include ./../../bem-blocks/logo/logo.pug
      include ./../../bem-blocks/footer-text/footer-text.pug
      include ../../bem-blocks/search/search.pug
      include ./../../bem-blocks/socials-desktop/socials-desktop.pug