section.production-main.section.section--honeycombs-right
  .container
    .breadcrumbs
      ul.breadcrumbs__links
        li
          a(href="index.html")
            span Главная
        li
          a
            span Производство
    h1 Производство
    .section.section__inner.production-main__inner 
      .production-main__text 
        p Компания 
          i «Стиролбиофарм» 
          | – современный, самостоятельный и успешный представитель 
          | рынка фармацевтических препаратов.
        p За 
          i 16 лет существования 
          | фармацевтическое производство предприятия сертифицировано рядом международных организаций. 
        p Высокое качество выпускаемой продукции подтверждено множеством сертификатов качества.
        a(href="quality-control.html").btn.btn--animate Подробнее
      .production-main__video
        .youtube
          .play
          iframe(width="725" height="408" src="https://www.youtube.com/embed/Z4SGPFHhPC0?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)        