section.production-structure.section.section--honeycombs-right.section--honeycombs-left
  .container
    .breadcrumbs
      ul.breadcrumbs__links
        li
          a(href="index.html")
            span Главная
        li
          a(href="production-main.html")
            span Производство
        li
          a
            span Структура производства
    h1 Структура производства
    .production-structure__text
      h3 Производство твердых  и капсульных лекарственных средств
      p Фармацевтический завод по производству твердых лекарственных средств в форме таблеток и капсул был 
        i построен в 1996 году 
        | по проекту Торонтского института фармацевтических технологий и соответствует канадским (НРВ) и 
        | американским (FDA) Правилам надлежащей производственной практики (GMP).
      p Завод оснащен самым современным оборудованием ведущих зарубежных фирм “Diamond”, “Manasty”, “Zanasi”, “Ima”. 
        | Проектная мощность производства позволяет выпускать cвыше 5 млрд. таблеток и капсул в год.
      p В настоящее время компания 
        i производит свыше 60 наименований 
        | твердых лекарственных средств различных фармакотерапевтических групп в соответствии с международными 
        | стандартами качества GMP и ISO 9002.
    .production-structure__gallery
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")