section.production-structure
  .container
    div(itemscope itemtype="http://schema.org/BreadcrumbList").breadcrumbs
      ul.breadcrumbs__links
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem") 
          a(itemprop="item" href="index.html")
            span(itemprop="name") Главная
          meta(itemprop="position" content="1")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="production-main.html")
            span(itemprop="name") Производство
          meta(itemprop="position" content="2")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(itemprop="item")
            span(itemprop="name") Структура производства
          meta(itemprop="position" content="3")
    h1 Структура производства
    .production-structure__text
      h3 Производство твердых  и капсульных лекарственных средств
      p Фармацевтический завод по производству твердых лекарственных средств в форме таблеток и капсул был 
        i построен в 1996 году 
        | по проекту Торонтского института фармацевтических технологий и соответствует канадским (НРВ) и 
        | американским (FDA) Правилам надлежащей производственной практики (GMP).
      p Завод оснащен самым современным оборудованием ведущих зарубежных фирм “Diamond”, “Manasty”, “Zanasi”, “Ima”. 
        | Проектная мощность производства позволяет выпускать cвыше 5 млрд. таблеток и капсул в год.
      p В настоящее время компания 
        i производит свыше 60 наименований 
        | твердых лекарственных средств различных фармакотерапевтических групп в соответствии с международными 
        | стандартами качества GMP и ISO 9002.
    .production-structure__gallery 
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")
      div(itemscope itemtype="http://schema.org/ImageObject")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" itemprop="contentUrl" width="336" height="234" alt="Таблетки")
        meta(itemprop="description" content="Таблетки")