.intro {
  height: 100%;
  padding-bottom: 26rem;
  padding-top: 0;

  @media (min-width: 1024px) {
    padding-bottom: 1.75rem;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // justify-content: space-between;
    // padding-top: 8rem;

    @media (min-width: 1200px) {
      padding-top: 4rem;
      justify-content: space-between;
    }

    @media (min-width: 1440px) {
      padding-top: 8rem;
    }

    // &::after,
    // &::before {
    //   position: absolute;
    //   content: "";
    // }

    // &::after {
    //   bottom: -40rem;
    //   left: -12rem;
    //   width: 32rem;
    //   height: 25rem;
    //   // background: url("../img/bird.png") center center / cover no-repeat;

    //   @media (min-width: 1024px) {
    //     bottom: -25rem;
    //     left: -57rem;
    //     width: 60.5rem;
    //     height: 45.6rem;
    //   }
    // }

    // &::before {
    //   display: none;
    //   // bottom: -3rem;
    //   // right: -12rem;
    //   // width: 34rem;
    //   // height: 44rem;
    //   // background: url("../img/hand1.png") center center/cover no-repeat;
    //   // transform: rotate(-26deg);

    //   @media (min-width: 1024px) {
    //     bottom: -62rem;
    //     right: -26rem;
    //     width: 98rem;
    //     height: 106rem;
    //     background: url("../img/hand1.png") center center/cover no-repeat;  
    //   }
    // }

    &-left {
      max-width: 60rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 1024px) {
        max-width: 80rem;
      }

      @media (min-width: 1200px) {
        // max-width: 70rem;
        max-width: 60rem;
        align-items: flex-start;
      }

      // @media (min-width: 1440px) {
      //   max-width: 60rem;
      // }

      h1 {
        margin: 2rem 0 5rem 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: var(--black-primary);

        @media (min-width: 768px) {
          font-size: 5rem;
        }

        @media (min-width: 1024px) {
          font-size: 7rem;
        }

        @media (min-width: 1200px) {
          text-align: left;
        }

        @media (min-width: 1440px) {
          margin-bottom: 7.8rem;
          font-size: 9.6rem;
          line-height: 10.1rem;
        }
      }
    }
  }

  &__btn {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: var(--white-primary);
    padding: 1.5rem 2.5rem;
    border-radius: 5rem;
    background-color: var(--green-primary);

    @media (min-width: 768px) {
      font-size: 1.6rem;
      padding: 1.8rem 2.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.8rem;
      padding: 2rem 3rem;
    }

    @media (min-width: 1200px) {
      padding: 2.5rem 4rem;
    }

    @media (min-width: 1440px) {
      padding: 3.15rem 6.89rem;
      font-size: 2rem;
    }
  }
}