section.intro 
  .container.container--intro
    .intro__inner 
      .intro__inner-left
        h1(itemprop="headline") Продукция высшего качества 
        a(itemprop="url" href="#!").btn.intro__btn Узнать больше