.phone.phone--desktop
  .phone__icon
    a(href="tel:88000000000" target="_blank")
      svg(aria-hidden="true")
        use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#phone")
  .phone__item
    a(href="tel:88000000000" target="_blank") 8 (800) 000-00-00
    span.phone__item-text Ежедневно с 9:00 до 20:00