.phone.phone--desktop
  .phone__icon(itemprop="telephone")
    a(itemprop="url" href="tel:88000000000" target="_blank")
      svg(aria-hidden="true")
        use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#phone")
  .phone__item(itemprop="telephone")
    a(itemprop="url" href="tel:88000000000" target="_blank") 8 (800) 000-00-00
    span(itemprop="openingHours" datetime="Mo-Sn 9:00−20:00").phone__item-text Ежедневно с 9:00 до 20:00