section.section.section--honeycombs-right.production
  .container 
    h2 Производство
    .production__items
      .production__item
        div(itemscope itemtype="http://schema.org/ImageObject").production__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/equipment.jpg" itemprop="contentUrl" width="378" height="247" alt="Современное оборудование")
          meta(itemprop="description" content="Современное оборудование")
        h3(itemprop="name") Современное оборудование
        a(itemprop="url" href="production-main.html").btn.btn--animate.production__item-btn Подробнее
      .production__item
        div(itemscope itemtype="http://schema.org/ImageObject").production__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/assortment.jpg" itemprop="contentUrl" width="378" height="247" alt="Широкий ассортимент")
          meta(itemprop="description" content="Широкий ассортимент")
        h3 Широкий ассортимент
        a(itemprop="url" href="production-main.html").btn.btn--animate.production__item-btn Подробнее
      .production__item
        div(itemscope itemtype="http://schema.org/ImageObject").production__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/birds.jpg" itemprop="contentUrl" width="378" height="247" alt="Экологичное производство")
          meta(itemprop="description" content="Экологичное производство")
        h3 Экологичное производство
        a(itemprop="url" href="production-main.html").btn.btn--animate.production__item-btn Подробнее
