section.production-direction.section.section--honeycombs-left
  .container
    h2 Производство компании ООО “Стиролбиофарм” ведётся в двух основных направлениях
    .production-direction__inner
      .production-direction__item
        .production-direction__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/pills.jpg" width="378" height="247" alt="Твердые лекарственные средства")
        h3 Твердые лекарственные средства
        a(href="production-structure.html").btn.btn--animate Подробнее
      .production-direction__item
        .production-direction__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/capsules.jpg" width="378" height="247" alt="Капсульные лекарственные средства")
        h3 Капсульные лекарственные средства
        a(href="production-structure.html").btn.btn--animate Подробнее