section.production-direction
  .container
    h2 Производство компании ООО “Стиролбиофарм” ведётся в 3 основных направлениях
    .production-direction__inner
      .production-direction__item
        .production-direction__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/product-direction-1.jpg" width="378" height="247" alt="Твердые лекарственные средства")
        h3 Твердые лекарственные средства
        button.btn.production-direction__item-btn Подробнее
      .production-direction__item
        .production-direction__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/product-direction-2.jpg" width="378" height="247" alt="Жидкие стерильные лекарственные средства")
        h3 Жидкие стерильные лекарственные средства
        button.btn.production-direction__item-btn Подробнее
      .production-direction__item
        .production-direction__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/product-direction-3.jpg" width="378" height="247" alt="Медицинская закись азота")
        h3 Медицинская закись азота
        button.btn.production-direction__item-btn Подробнее
