div(itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination").pagination
  ul.pagination__list
    li.pagination__item.prev 
      a(itemprop="relatedLink/pagination" href="#!" rel="prev") Назад
    li.pagination__item.pagination__item--active
      a(itemprop="relatedLink/pagination" href="#!") 1
    li.pagination__item
      a(itemprop="relatedLink/pagination" href="#!") 2
    li.pagination__item
      a(itemprop="relatedLink/pagination" href="#!") 3
    li.pagination__item.next
      a(itemprop="relatedLink/pagination" href="#!" rel="next") Вперёд