header(itemscope itemtype="http://schema.org/WPHeader").header
  .container 
    .header__inner
      .header__top 
        include ../../bem-blocks/logo/logo.pug
        include ../../bem-blocks/burger/burger.pug
        span.header__top-text Высокое качество - проверенная сила!
        include ../../bem-blocks/socials-desktop/socials-desktop.pug
        include ../../bem-blocks/phone-desktop/phone-desktop.pug
        include ../../bem-blocks/nav/nav.pug
        include ../../bem-blocks/search/search.pug