section.production-process.section.section--honeycombs-right.section--honeycombs-left
  .container
    .breadcrumbs
      ul.breadcrumbs__links
        li
          a(href="index.html")
            span Главная
        li
          a(href="production-main.html")
            span Производство
        li
          a
            span Процесс производства
    h1 Процесс производства
    .section.section__inner.production-process__inner 
      .production-process__gallery 
        .gallery__item-main
          img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="526" height="303" alt="Таблетки")
        .gallery__items-small
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
            img(src="./wp-content/themes/stirolbiopharm/assets/img/tablets.jpg" width="336" height="234" alt="Таблетки")
      .production-process__text
        .production-process__stages 
          span.stage.stage--active 1
          span.stage 2
          span.stage 3
          span.stage 4
        .text-content
          p Производство твердых лекарственных форм и жидких лекарственных форм начинается с поступления субстанций 
            | лекарственных препаратов на склад сырья. 
          p Поступившее сырье отбирается в специально оборудованном помещении под ламинаром 
            i (зона чистоты класса А) 
            | для проведения входящего лабораторного контроля.
          p После получения положительных анализов лабораторных анализов, субстанции сырья для лекарственных препаратов 
            | поступают в производственное помещение участка по производству твёрдых и жидких лекарственных форм. 
          p Согласно технологическому регламента, сырьё взвешивается на электронных весах в необходимом для данной серии 
            | препарата (лота) количестве.
          p Процесс смешивания осуществляется на одном из V-образных смесителей, в смесителе барабанного, ленточного типов, 
            | а также может быть сопряжён с процессом грануляции субстанции лекарственного препарата.
          p Полученная смесь 
            i отбирается контролёром ОТК 
            | для лабораторного контроля и после получения положительного результата лабораторного анализа смесь может 
            | направляться на следующий этап – таблетирования или капсулирование.
        .production-process__arrows 
          .arrow__prev(rel="prev")
            svg(aria-hidden="true")
              use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#arrow")
          .arrow__next(rel="next")
            svg(aria-hidden="true")
              use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#arrow")