.card {
  position: relative;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.04);

  &__front {
    position: relative;
    z-index: 1;
    height: 100%;
    backface-visibility: hidden;
    will-change: transform;
    transition: transform .3s ease-in-out;
  }

  &__back {
    position: absolute;
    z-index: 0;
    top: 0;
    transform: rotateY(-180deg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3.3rem 2.3rem 2.4rem 2.3rem;
    backface-visibility: hidden;
    border-radius: 1rem;
    border: 0.3rem solid var(--green-secondary);
    background: var(--white-primary);
    will-change: transform;
    transition: transform .3s ease-in-out;

    h3 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2;
      color: var(--black-primary);
    }

    &-ATX,
    &-MHH {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2;
      color: var(--green-secondary);

      span {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
        color: var(--black-primary);
      }
    }

    &-desc {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2;
      color: var(--black-primary);
    }

    &-btn {
      display: block;
      padding: 1rem 3rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.2;
      color: var(--white-primary);
      border: 0.3rem solid var(--green-secondary);
      border-radius: 10rem;
      background: var(--green-secondary);
    }
  }

  &:hover &__front {
    transform: rotateY(180deg);
    z-index: -1;
  }

  &:hover &__back {
    transform: rotateY(0deg);
    z-index: 2;
  }
}