.medicine__products-card.card
  .card__front
    img(src="./wp-content/themes/stirolbiopharm/assets/img/product.jpg" width="315" height="322" alt="Медь Макс")
  .card__back
    h3 Медь Макс
    .card__back-ATX ATX 
      span - 12345
    .card__back-MHH MHH 
      span - Qazwsx
    .card__back-desc 250 мл - 30 таблеток по 0,5 гр.
    a(href="card.html").btn.btn--animate-reverse.card__back-btn Подробнее