div(itemscope itemtype="http://schema.org/Product").medicine__products-card.card
  div(itemscope itemtype="http://schema.org/ImageObject").card__front
    img(src="./wp-content/themes/stirolbiopharm/assets/img/product.jpg" itemprop="contentUrl" width="285" height="301" alt="Медь Макс")
    meta(itemprop="description" content="Медь Макс")
  .card__back
    h3(itemprop="name") Медь Макс
    .card__back-ATX ATX 
      span - 12345
    .card__back-MHH MHH 
      span - Qazwsx
    .card__back-desc 250 мл - 30 таблеток по 0,5 гр.
    a(itemprop="url" href="card.html").btn.btn--animate-reverse.card__back-btn Подробнее