main
  section.section.section--honeycombs-right.section--honeycombs-left.card-detailed
    .container
      .breadcrumbs
        ul(itemscope itemtype="http://schema.org/BreadcrumbList").breadcrumbs__links
          li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem") 
            a(itemprop="item" href="index.html")
              span(itemprop="name") Главная
            meta(itemprop="position" content="1")
          li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            a(itemprop="item" href="medicine.html")
              span(itemprop="name") Каталог лекарственных препаратов
            meta(itemprop="position" content="2")
          li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            a(itemprop="item")
              span(itemprop="name") Медь Макс
            meta(itemprop="position" content="3")
      h1 Медь Макс
      .medicine__inner 
        nav(itemscope itemtype="https://schema.org/SiteNavigationElement").medicine__menu
          button.btn.btn--animate.medicine__menu-title Каталог
            span
          ul(role="menu").medicine__menu-list 
            li(itemprop="name" role="menuitem").medicine__menu-item
              a(itemprop="url" href="#!").medicine__menu-link Все препараты
            li(itemprop="name" role="menuitem").medicine__menu-item
              a(itemprop="url" href="#!").medicine__menu-link Безрецептурные препараты
            li(itemprop="name" role="menuitem").medicine__menu-item
              a(itemprop="url" href="#!").medicine__menu-link Рецептурные препараты
        .medicine__products 
          ul(itemscope itemtype="https://schema.org/SiteNavigationElement").medicine__products-alphabet
            li(itemprop="name")
              a(itemprop="url" href="#!") А
            li(itemprop="name")
              a(itemprop="url" href="#!") Б
            li(itemprop="name")
              a(itemprop="url" href="#!") В
            li(itemprop="name")
              a(itemprop="url" href="#!") Г
            li(itemprop="name")
              a(itemprop="url" href="#!") Д
            li(itemprop="name")
              a(itemprop="url" href="#!") Е
            li(itemprop="name")
              a(itemprop="url" href="#!") Ж
            li(itemprop="name")
              a(itemprop="url" href="#!") З
            li(itemprop="name")
              a(itemprop="url" href="#!") И
            li(itemprop="name")
              a(itemprop="url" href="#!") К
            li(itemprop="name")
              a(itemprop="url" href="#!") Л
            li(itemprop="name")
              a(itemprop="url" href="#!") М
            li(itemprop="name")
              a(itemprop="url" href="#!") Н
            li(itemprop="name")
              a(itemprop="url" href="#!") О
            li(itemprop="name")
              a(itemprop="url" href="#!") П
            li(itemprop="name")
              a(itemprop="url" href="#!") Р
            li(itemprop="name")
              a(itemprop="url" href="#!") С
            li(itemprop="name")
              a(itemprop="url" href="#!") Т
            li(itemprop="name")
              a(itemprop="url" href="#!") У
            li(itemprop="name")
              a(itemprop="url" href="#!") Ф
            li(itemprop="name")
              a(itemprop="url" href="#!") Х
            li(itemprop="name")
              a(itemprop="url" href="#!") Ц
            li(itemprop="name")
              a(itemprop="url" href="#!") Ч
            li(itemprop="name")
              a(itemprop="url" href="#!") Ш
            li(itemprop="name")
              a(itemprop="url" href="#!") Щ
            li(itemprop="name")
              a(itemprop="url" href="#!") Э
            li(itemprop="name")
              a(itemprop="url" href="#!") Ю
            li(itemprop="name")
              a(itemprop="url" href="#!") Я
          .card-detailed__inner
            div(itemscope itemtype="http://schema.org/ImageObject").card-detailed__images 
              img(src="./wp-content/themes/stirolbiopharm/assets/img/card-img.jpg" itemprop="contentUrl" width="357" height="379" alt="Таблетки")
              meta(itemprop="description" content="Таблетки")
              img(src="./wp-content/themes/stirolbiopharm/assets/img/product.jpg" itemprop="contentUrl" width="357" height="379" alt="Медь Макс")
              meta(itemprop="description" content="Медь Макс")
            div(itemscope itemtype="http://schema.org/Product").card-detailed__desc
              h3(itemprop="name") “Медь Макс”
              div(itemprop="description").card-detailed__info
                h4 Рекомендации по применению:
                span Используется в диетическом и рациональном питании как источник меди. Применяется для
                  | укрепления волос, костной и соединительной тканей, при витилиго, малокровии, бесплодии, нарушении 
                  | менструального цикла, приеме противозачаточных средств, снижении полового влечения у женщин, при болезнях 
                  | эндокринной системы (диабете, увеличении щитовидной железы и понижении уровня тироксина в крови).
                span Перед применением рекомендуется консультация врача.
                h4 Способ употребления:
                span Препарат принимают внутрь, во время еды, по 1-2 таблетки в сутки. Средний курс приема – 1 месяц.
                h4 Предупреждения при употреблении:
                span Индивидуальная чувствительность к компонентам препарата.