main
  section.section.section--honeycombs-right.section--honeycombs-left.card-detailed
    .container
      .breadcrumbs
        ul.breadcrumbs__links
          li
            a(href="index.html")
              span Главная
          li
            a(href="medicine.html")
              span Каталог лекарственных препаратов
          li
            a
              span Медь Макс
      h1 Медь Макс
      .medicine__inner 
        nav.medicine__menu
          button.btn.btn--animate.medicine__menu-title Каталог
            span
          ul(role="menu").medicine__menu-list 
            li(role="menuitem").medicine__menu-item
              a(href="#!").medicine__menu-link Все препараты
            li(role="menuitem").medicine__menu-item
              a(href="#!").medicine__menu-link Безрецептурные препараты
            li(role="menuitem").medicine__menu-item
              a(href="#!").medicine__menu-link Рецептурные препараты
        .medicine__products 
          ul.medicine__products-alphabet
            li
              a(href="#!") А
            li
              a(href="#!") Б
            li
              a(href="#!") В
            li
              a(href="#!") Г
            li
              a(href="#!") Д
            li
              a(href="#!") Е
            li
              a(href="#!") Ж
            li
              a(href="#!") З
            li
              a(href="#!") И
            li
              a(href="#!") К
            li
              a(href="#!") Л
            li
              a(href="#!") М
            li
              a(href="#!") Н
            li
              a(href="#!") О
            li
              a(href="#!") П
            li
              a(href="#!") Р
            li
              a(href="#!") С
            li
              a(href="#!") Т
            li
              a(href="#!") У
            li
              a(href="#!") Ф
            li
              a(href="#!") Х
            li
              a(href="#!") Ц
            li
              a(href="#!") Ч
            li
              a(href="#!") Ш
            li
              a(href="#!") Щ
            li
              a(href="#!") Э
            li
              a(href="#!") Ю
            li
              a(href="#!") Я
          .card-detailed__inner
            .card-detailed__images 
              img(src="./wp-content/themes/stirolbiopharm/assets/img/card-img.jpg" width="357" height="379" alt="Таблетки")
              img(src="./wp-content/themes/stirolbiopharm/assets/img/product.jpg" width="357" height="379" alt="Медь Макс")
            .card-detailed__desc
              h3 “Медь Макс”
              .card-detailed__info
                h4 Рекомендации по применению:
                span Используется в диетическом и рациональном питании как источник меди. Применяется для
                  | укрепления волос, костной и соединительной тканей, при витилиго, малокровии, бесплодии, нарушении 
                  | менструального цикла, приеме противозачаточных средств, снижении полового влечения у женщин, при болезнях 
                  | эндокринной системы (диабете, увеличении щитовидной железы и понижении уровня тироксина в крови).
                span Перед применением рекомендуется консультация врача.
                h4 Способ употребления:
                span Препарат принимают внутрь, во время еды, по 1-2 таблетки в сутки. Средний курс приема – 1 месяц.
                h4 Предупреждения при употреблении:
                span Индивидуальная чувствительность к компонентам препарата.