/* FONTS */

@font-face {
  font-family: 'PT Serif Caption';
  src: url('../fonts/pt_serif_caption/PTSerif-Caption.ttf') format('truetype'),
       url('../fonts/pt_serif_caption/PTSerif-Caption.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/raleway/Raleway-Regular.ttf') format('truetype'),
       url('../fonts/raleway/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('../fonts/raleway/Raleway-Medium.ttf') format('truetype'),
       url('../fonts/raleway/Raleway-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('../fonts/raleway/Raleway-Bold.ttf') format('truetype'),
       url('../fonts/raleway/Raleway-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
