.footer__text 
  span Производитель медицинских препаратов 
  a(itemprop="url" href="index.html") stirolbiopharm.ru
  .copyright © ООО “Стиролбиофарм” 
    span(itemprop="copyrightYear") 1996-2023 гг.