.search {
  width: 100%;
  max-width: 35.8rem;

  &__form {
    position: relative;
    width: 100%;

    button {
      position: absolute;
      top: 50%;
      right: 3rem;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background: transparent;

      &:hover,
      &:focus {
        svg {
          width: 3rem;
          height: 3rem;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        stroke: var(--green-primary);
        stroke-width: 0.1rem;
        fill: var(--green-primary);
        will-change: width, height;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    
        @media (min-width: 1024px) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
}

input {
  width: 100%;
  padding: 1rem 2rem;
  @include RalewayMedium();
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--gray-primary);
  outline: none;
  border-radius: 5rem;
  border: 0.2rem solid var(--green-primary);

  @media (min-width: 1024px) {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
  }

  &::placeholder {
    @include RalewayMedium();
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--gray-primary);

    @media (min-width: 1024px) {
      font-size: 1.6rem;
    }
  }
}