extends ./../layouts/main

block variables
  - let pageTitle = 'О компании';

block content
  .wrap-feedback
  .wrapper
    include ./../components/sections/header/header.pug
    include ./../components/sections/about-page/about-page.pug
    include ./../components/sections/contacts/contacts.pug
    include ./../components/sections/footer/footer.pug