extends ./../layouts/main

block variables
  - let pageTitle = 'Контакты';

block content
  .wrap-feedback
  .wrapper
    include ./../components/sections/header/header.pug
    include ./../components/sections/contacts-info/contacts-info.pug
    include ./../components/sections/contacts/contacts.pug
    include ./../components/sections/footer/footer.pug