extends ./../layouts/main

block variables
  - let pageTitle = 'Производство';

block content
  .wrap-feedback
  .wrapper
    include ./../components/sections/header/header.pug
    include ./../components/sections/production-main/production-main.pug
    include ./../components/sections/production-direction/production-direction.pug
    include ./../components/sections/production-laboratories/production-laboratories.pug
    include ./../components/sections/contacts/contacts.pug
    include ./../components/sections/footer/footer.pug