extends ./../layouts/main

block variables
  - let pageTitle = 'Процесс производства';

block content
  .wrap-feedback
  .wrapper
    include ./../components/sections/header/header.pug
    include ./../components/sections/production-process/production-process.pug
    include ./../components/sections/contacts/contacts.pug
    include ./../components/sections/footer/footer.pug