section.section.section--honeycombs-left.products
  .container 
    h2 Продукция
    .products__items 
      div(itemscope itemtype="http://schema.org/ImageObject").products__item
        img(src="./wp-content/themes/stirolbiopharm/assets/img/pill-2.png" itemprop="contentUrl" width="81" height="54" alt="").products__item-pill
        meta(itemprop="description" content="Таблетка")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/pill-3.png" itemprop="contentUrl" width="76" height="71" alt="").products__item-pill
        meta(itemprop="description" content="Таблетка")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/pill-4.png" itemprop="contentUrl" width="50" height="51" alt="").products__item-pill
        meta(itemprop="description" content="Таблетка")
        .products__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/bottle.png" itemprop="contentUrl" width="276" height="211" alt="Лекарственные препараты")
          meta(itemprop="description" content="Баночка с таблетками")
        .products__item-title
          h3(itemprop="name") Лекарственные препараты
        a(itemprop="url" href="medicine.html").products__item-icon
      div(itemscope itemtype="http://schema.org/ImageObject").products__item
        img(src="./wp-content/themes/stirolbiopharm/assets/img/pill-1.png" itemprop="contentUrl" width="36" height="87" alt="").products__item-pill
        meta(itemprop="description" content="Капсула")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/pill-1.png" itemprop="contentUrl" width="36" height="87" alt="").products__item-pill
        meta(itemprop="description" content="Капсула")
        img(src="./wp-content/themes/stirolbiopharm/assets/img/pill-1.png" itemprop="contentUrl" width="36" height="87" alt="").products__item-pill
        meta(itemprop="description" content="Капсула")
        .products__item-img
          img(src="./wp-content/themes/stirolbiopharm/assets/img/bottle.png" itemprop="contentUrl" width="276" height="211" alt="Биологически активные добавки")
          meta(itemprop="description" content="Баночка с капсулами")
        .products__item-title
          h3(itemprop="name") Биологически активные добавки
        a(itemprop="url" href="bads.html").products__item-icon