html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "PT Serif Caption", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
}

header,
section,
footer,
main {
  width: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: calc(141rem + 3rem); // Максимальная ширина контейнера с учетом паддингов (2 х 1.5rem)
  padding: 0 1.5rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--intro {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    @media (min-width: 1440px) {

      &::before {
        // bottom: 22rem;
        bottom: 12rem;
        left: -30rem;
        width: 58rem;
        height: 47rem;
        background: url("../img/bird.png") -15rem 63%/cover no-repeat;
      }
  
      &::after {
        // bottom: 22rem;
        bottom: 12rem;
        right: -19rem;
        width: 109.1rem;
        height: 76.5rem;
        background: url("../img/hands-2.png") right bottom/cover no-repeat;
      }
    }

    @media (min-width: 1920px) {
      &::before {
        left: -43rem;
      }
    }
  }
}

// Запрет скролла
.no-scroll {
  overflow: hidden;

  @media (min-width: 1024px) {
    padding-right: 1.7rem;
  }
}

// Липкое меню
// .fixed {
//   position: fixed !important;
//   z-index: 200 !important;
//   top: 0;
//   left: 0;
//   background: #fff;
//   box-shadow: 0 1.2rem .8rem 0rem rgba(34, 60, 80, 0.2);
//   will-change: auto;
//   transition: all .5s ease-out;

//   @media (min-width: 1320px) {
//     // width: calc(100% - 17px);
//     padding-left: 17px;
//     width: calc(100vw - 17px) !important;
//   }
// }

// Обертка липкого меню
// .fixed-wrap {
//   width: 100%;
//   max-width: 1140px;
//   margin: 0 auto;
//   will-change: auto;
//   transition: all .5s ease-out;
// }
