.btn {
  padding: 1rem 2rem;
  @include RalewayMedium();
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--green-secondary);
  border: 0.3rem solid var(--green-secondary);
  border-radius: 5rem;
  outline: none;
  background: var(--white-primary);

  @media (min-width: 1024px) {
    padding: 1.5rem 2.5rem;
  }

  @media (min-width: 1440px) {
    padding: 2rem 4rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  &--green {
    color: var(--white-primary);
    background: var(--green-secondary);
  }

  &--animate,
  &--animate-reverse {
    will-change: background, color;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &--animate {
    &:hover,
    &:focus {
      color: var(--white-primary);
      background: var(--green-secondary);
    }
  }

  &--animate-reverse {
    &:hover,
    &:focus {
      color: var(--green-primary);
      background: var(--white-secondary);
    }
  }
}