h2 {
  margin-bottom: 3rem;
  @include PTSerifCaption();
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--black-secondary);

  @media (min-width: 1440px) {
    margin-bottom: 7rem;
    font-size: 4.8rem;
  }
}

i {
  font-style: normal;
  color: var(--green-secondary);
}