:root {

/* COLORS */

--black-primary: #232323;
--black-secondary: #000;
--white-primary: #fff;
--blue-primary: #0077ff;
--blue-secondary: #0088cc;
--green-primary: #43d854;
--green-secondary: #4fd066;
--gray-primary: #515457;
--gray-secondary: #efefef;
--gray-third: #ededf0;

/* FONTS-SIZES */
    
}

$blue-third: #80d3f4;
$black-primary: #000;