.socials.socials--mobile
	ul.socials__list
		li.socials__item
			a(href="#!" target="_blank" rel="external")
				svg(aria-hidden="true")
					use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#vk")
		li.socials__item
			a(href="#!" target="_blank" rel="external")
				svg(aria-hidden="true")
					use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#telegram") 
		li.socials__item
			a(href="#!" target="_blank" rel="external")
				svg(aria-hidden="true")
					use(xlink:href="./wp-content/themes/stirolbiopharm/assets/img/icons/sprite.svg#whatsapp") 