main
  section.bads.section.section--honeycombs-right.section--honeycombs-left
    .container
      .breadcrumbs
        ul.breadcrumbs__links
          li
            a(href="index.html")
              span Главная
          li
            a
              span Биологически активные добавки
      h1 Каталог бадов
      .bads__inner 
        nav.bads__menu
          button.btn.bads__menu-title Каталог
            span
          ul.bads__menu-list 
            li.bads__menu-item
              a(href="#!").bads__menu-link Все препараты
            li.bads__menu-item
              a(href="#!").bads__menu-link Безрецептурные препараты
            li.bads__menu-item
              a(href="#!").bads__menu-link Рецептурные препараты
            li.bads__menu-item
              a(href="#!").bads__menu-link Нестероидные противовоспалительные средства
            li.bads__menu-item
              a(href="#!").bads__menu-link При заболеваниях мочеполовой системы
        .bads__products 
          ul.bads__products-alphabet
            li
              a(href="#!") А
            li
              a(href="#!") Б
            li
              a(href="#!") В
            li
              a(href="#!") Г
            li
              a(href="#!") Д
            li
              a(href="#!") Е
            li
              a(href="#!") Ж
            li
              a(href="#!") З
            li
              a(href="#!") И
            li
              a(href="#!") К
            li
              a(href="#!") Л
            li
              a(href="#!") М
            li
              a(href="#!") Н
            li
              a(href="#!") О
            li
              a(href="#!") П
            li
              a(href="#!") Р
            li
              a(href="#!") С
            li
              a(href="#!") Т
            li
              a(href="#!") У
            li
              a(href="#!") Ф
            li
              a(href="#!") Х
            li
              a(href="#!") Ц
            li
              a(href="#!") Ч
            li
              a(href="#!") Ш
            li
              a(href="#!") Щ
            li
              a(href="#!") Э
            li
              a(href="#!") Ю
            li
              a(href="#!") Я
          .bads__products-cards
            - for (var i = 0; i < 6; i++)
              include ../../bem-blocks/product-card/product-card.pug
          include ../../bem-blocks/pagination/pagination.pug  