meta(charset="UTF-8")

//- Meta
meta(name="description" content="")
meta(name="keywords" content="")

//- Adaptive
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

//- Styles
link(rel="stylesheet", href="./wp-content/themes/stirolbiopharm/assets/css/main.css")
link(rel="stylesheet", href="./wp-content/themes/stirolbiopharm/assets/fonts/fonts.css")

//- Favicons
link(rel="apple-touch-icon" type="image/x-icon" sizes="57x57" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="60x60" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="76x76" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="120x120" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="152x152" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="apple-touch-icon" type="image/x-icon" sizes="180x180" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="icon" type="image/x-icon" sizes="192x192" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="icon" type="image/x-icon" sizes="32x32" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="icon" type="image/x-icon" sizes="96x96" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
link(rel="icon" type="image/x-icon" sizes="16x16" href="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="./wp-content/themes/stirolbiopharm/assets/img/favicon.ico")
meta(name="theme-color" content="#ffffff")