main
  section.section.section--honeycombs-right.section--honeycombs-left.contacts-info
    .container
      .breadcrumbs
        ul.breadcrumbs__links
          li
            a(href="index.html")
              span Главная
          li
            a
              span Контакты
      h1 Контакты
      .contacts-info__block-titles
        h3 Режим работы
        h3 Должностные лица
        h3 Телефон
        h3 E-mail
      .contacts-info__blocks
        .contacts-info__block
          p ПН-ПТ - с 9:00 до 20:00
          p СБ-ВС - не рабочие дни
        .contacts-info__block
          p Коммерческий директор 
            p Кропива Андрей Григорьевич
        .contacts-info__block
          a(href="tel=+79493146906") +7(949)314-69-06
        .contacts-info__block
          a(href="mailto:stirolbiopharm@mail.ru") stirolbiopharm@mail.ru