section.quality-control
  .container
    div(itemscope itemtype="http://schema.org/BreadcrumbList").breadcrumbs
      ul.breadcrumbs__links
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem") 
          a(itemprop="item" href="index.html")
            span(itemprop="name") Главная
          meta(itemprop="position" content="1")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="production-main.html")
            span(itemprop="name") Производство
          meta(itemprop="position" content="2")
        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a(itemprop="item")
            span(itemprop="name") Контроль качества
          meta(itemprop="position" content="3")
    h1 Контроль качества
    .quality-control__text 
      p Общество с ограниченной ответственностью «Стиролбиофарм» стремится быть надежным поставщиком эффективных, 
        | безопасных, качественных лекарственных средств согласно требованиям рынка.
      p Предприятие обеспечивает качество продукции на всех этапах, несет ответственность перед потребителями и 
        | собственным персоналом; развивает новые рынки для сертифицированной продукции благодаря устойчивому имиджу 
        | на внутреннем рынке.
      h3 Реализация стратегических целей в области качества осуществляется путем:
      ul 
        li 1. Поддержания и улучшения системы менеджмента качества на базе ДСТУ ISO 9001:2009, сертификации всего производства 
          | на соответствии требованиям Надлежащих Правил Производства (GMP), построение Фармацевтической Системы Качества 
          | на базе принципов Международной Организации по Гармонизации (ICH Q8, ICH Q9 и ICH Q10).
        li 2. Технического дооснащения производственного процесса.
        li 3. Учета и удовлетворенности потребностей персонала предприятия и задействованных работников сторонних 
          | организаций в повышении уровня компетенции и непрерывного обучения вопросам охраны окружающей среды, 
          | безопасного ведения технологических процессов и качественного выполнения работ.
        li 4. Проведения мероприятий, направленных на определение потребностей и оценку удовлетворенности потребителей.
        li 5. Постоянного анализа потребности потребителей и внедрения новых методов работы в сфере продвижения лекарственных 
          | средств с учетом этических принципов.
        li 6. Постоянного анализа и усовершенствования результатов деятельности предприятия в сравнении с деятельностью 
          | конкурентов и требованиями потребителей.
        li 7. Выявление и снижение влияния опасностей и рисков на рабочих местах, выявление экологических аспектов и снижение 
          | их негативного воздействия на окружающую среду.
        li 8. Обеспечения открытости экологической информации для всех заинтересованных сторон, учета в своей деятельности 
          | мнения общественности.