main
  section.section.section--honeycombs-right.section--honeycombs-left.medicine
    .container
      .breadcrumbs
        ul.breadcrumbs__links
          li
            a(href="index.html")
              span Главная
          li
            a
              span Каталог лекарственных препаратов
      h1 Каталог лекарственных препаратов
      .medicine__inner 
        nav.medicine__menu
          button.btn.btn--animate.medicine__menu-title Каталог
            span
          ul(role="menu").medicine__menu-list 
            li(role="menuitem").medicine__menu-item
              a(href="#!").medicine__menu-link Все препараты
            li(role="menuitem").medicine__menu-item
              a(href="#!").medicine__menu-link Безрецептурные препараты
            li(role="menuitem").medicine__menu-item
              a(href="#!").medicine__menu-link Рецептурные препараты
        .medicine__products 
          ul.medicine__products-alphabet
            li
              a(href="#!") А
            li
              a(href="#!") Б
            li
              a(href="#!") В
            li
              a(href="#!") Г
            li
              a(href="#!") Д
            li
              a(href="#!") Е
            li
              a(href="#!") Ж
            li
              a(href="#!") З
            li
              a(href="#!") И
            li
              a(href="#!") К
            li
              a(href="#!") Л
            li
              a(href="#!") М
            li
              a(href="#!") Н
            li
              a(href="#!") О
            li
              a(href="#!") П
            li
              a(href="#!") Р
            li
              a(href="#!") С
            li
              a(href="#!") Т
            li
              a(href="#!") У
            li
              a(href="#!") Ф
            li
              a(href="#!") Х
            li
              a(href="#!") Ц
            li
              a(href="#!") Ч
            li
              a(href="#!") Ш
            li
              a(href="#!") Щ
            li
              a(href="#!") Э
            li
              a(href="#!") Ю
            li
              a(href="#!") Я
          .medicine__products-cards
            - for (var i = 0; i < 6; i++)
              include ../../bem-blocks/product-card/product-card.pug
          include ../../bem-blocks/pagination/pagination.pug  